<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">

    <title>Киносайт</title>

</head>
<body>
<div id="login">
<h1>Киносайт</h1>
<div id="forms">
    {% if request.user.is_authenticated %}
        <h1>Hello, {{ request.user.username }}</h1>
        <form action="{% url 'admin:logout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'index' %}">
            <input type="submit" value="Выйти">
        </form>
    {% else %}
        <form name="Login" action="{% url 'admin:login' %}" method="post">
            <div class="form-container">
                Почта <input name="username" title="Введите логин или почту"/>
                Пароль <input type="password" name="password" title="Введите пароль"/>
                {% csrf_token %}
            </div>
            <div class="form-container">
                <input type="submit" value="Вход" title="Вход">
                <input type="reset" title="Очистить форму" value="Очистить форму">
                <input type="button" value="Регистрация" title="Регистрация" href="films/static/registration.html">
            </div>
        </form>
    {% endif %}
</div>
</div>
<div id="menu" title="Меню">
    <ul>
        <li><a name="Главная" href="{% url 'index' %}">Главная</a></li>
        <li><a name="Профиль" href="user_profile_detail.html">Профиль пользователя</a></li>
    </ul>
</div>
<div id="header">
    <h2>{% block title %}{% endblock %}</h2>
</div>
<div id="main">
    {% block main %}
    {% endblock %}
</div>
<div id="footer">
    <p>2017. All right reserved</p>
</div>
</body>
</html>