<!DOCTYPE html>
<html lang="ru">
{% load static %}

<div>
    <h1>Киносайт</h1>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link type="text/css" href="style.css" rel="stylesheet">
    <link type="text/css" href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div name="Вход">
        <form name="Вход" action="user_profile_detail.html" method="get">
            <p>Почта<input name="Login" title="Введите логин или почту">Пароль<input type="Password" name="Pass" title="Введите пароль"></p>
            <p><input type="submit" value="Вход" title="Вход"><input type="reset" title="Очистить форму" value="Очистить форму"></p>
        </form>
        <form name="Reg" action="registration.html">
            <p><input type="button" value="Регистрация" title="Регистрация"></p>
        </form>
    </div>
</div>
    <title>Киносайт</title>
</head>
<body>
    <div id="header">
        <h2>{% block title %}{% endblock %}</h2>
    </div>

    <div id="menu" title="Меню">
        <ul>
            <li><a name="Главная" href="film_list.html"></a></li>
            <li><a name="Профиль" href="user_profile_detail.html"></a></li>
            <li><a name="Регистрация" href="registration.html"></a></li>
        </ul>
    </div>

    <div id="main">
        {% block main %}
        {% endblock %}
    </div>

    <div id="footer">
        <p>2017. All right reserved</p>
    </div>
</body>
</html>