{% extends 'films/base.html' %}
{% load static %}

{% block title %}
    Список фильмов
{% endblock %}

{% block main %}
    {% for film in object_list %}
        <h2><a href="{{ film.get_absolute_url }}">{{ film.title_film }}</a></h2>
        <table width="100%" cellspacing="0" cellpadding="5">
            <td id="poster">
                <p><a href="{{ film.get_absolute_url }}"><img src="{% static film.poster %}" height="400" width="280"
                                                              hspace="30" vspace="20"/></a></p>
            </td>
            <td id="content">
                <p>Жанр: {% for key, value in film.genre.values_list %}
                          {{ value }}
                          {% endfor %}</p>
                <hr>
                <p>Дата выхода: {{ film.year_pub }}</p>
                <hr>
                <p>Продюсер: <a href="{% url 'personal:producer-detail' film.producer.id %}">{{ film.producer }}</a></p>
                <hr>
                <p>Бюджет, млн. $: {{ film.budget }}</p>
                <hr>
                <p>Сборы, млн. $: {{ film.fees }}</p>
                <hr>
                <p>Продолжительность, мин: {{ film.duration }}</p>
                <hr>
            </td>
        </table>
    {% empty %}
        <p>Нет фильмов</p>
    {% endfor %}
{% endblock %}
